.content{
    display: flex;
    flex-direction: row;

    background: linear-gradient(180deg, rgba(0, 163, 255, 0.8) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(179.61deg, rgba(255, 92, 0, 0.9) 44.45%, rgba(0, 0, 0, 0) 99.7%), linear-gradient(180deg, rgba(0, 137, 165, 0.99) -25.49%, rgba(1, 85, 102, 0.99) 151.61%);
}


.category{
position: absolute;
width: 280px;
height: 630px;
top: 250px;
left: 2em;
gap: 1em;

background: rgba(231, 124, 25, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 59px;
}
.infoContainer{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 20em;
    background-image: transparent;
    margin-left: 20em;
    margin-right: 0.5em;
    margin-bottom: 3em;
}

.lens{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 12em;
    background: transparent;
    margin-left: 20em;
    margin-right: -25em;
    margin-bottom: 3em;
    display: none;  
}
.rct-grid-row, .rct-grid-row:before, .rct-grid-row:after {
    display: flex;
    height: 15em;
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 50px;
background: rgba(196, 196, 196, 0.3);
}
.tripods{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 12em;
    background: transparent;
    margin-left: 20em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}
.pFilters{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 15em;
    background: transparent;
    margin-left: 20em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}


.batteries{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 12em;
    background: transparent;
    margin-left: 20em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}

.memCards{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 12em;
    background: transparent;
    margin-left: 22em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}

.cleaningKits{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 13em;
    background: transparent;
    margin-left: 22em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}

.camStraps{
    display: flex;
    height: 647px;
    width: 100%;
    margin-top: 13em;
    background: transparent;
    margin-left: 22em;
    margin-right: -20em;
    margin-bottom: 3em;
    display: none; 
}

.backgroundImage{
    width:50%;
    height:50%;
}


.search_container{
position: absolute;
left: 40px;
top: 150px;
}





