/*.forum{
    top:250px;
    left: 30px;
    display: flex;
    gap: 30px;
}*/
/*.forum_card{
position: absolute;
width: 330px;
height: 301px;
left: 70px;
top: 265px;


background: rgba(196, 196, 196, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}

.abc {
    position: absolute;
width: 330px;
height: 301px;
left: 450px;
top: 265px;

background: rgba(196, 196, 196, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;

}*/
/* .content {
    size: auto;
    margin-left: 0px;
}

.tile-container{
    position: absolute;
  
    
    margin: 220px 80px 3px 0px;
    width:100%;
  } */

.tile{
  
    background: rgba(196, 196, 196, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
        font-size:20px; /* or whatever you want */
        width: 25%;
        min-height:281px;
        border: 1px #BDBDBD solid;
        display:inline-block;
        margin: 30px 40px 30px 40px;
        text-align: center;
       
        
     
}

.tile1{
  
    background: rgba(196, 196, 196, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
        font-size:30px; /* or whatever you want */
        width: 25%;
        min-height:281px;
        border: 1px #BDBDBD solid;
        display:inline-block;
        margin: 30px 40px 30px 70px;
        text-align: center;
     
}


.tile1{
  
    background: rgba(196, 196, 196, 0.65);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
        font-size:30px; /* or whatever you want */
        width: 10em;
        min-height:10em;
        border: 1px #BDBDBD solid;
        display:inline-block;
        margin: 0px 40px 30px 70px;
        text-align: center;
        gap: 30px;
     
}

.button1 {
    width:"25%px";
    height:"281px";
     border-radius: "50px";
      margin-Top:"30px"; 
      margin-Left:"70px";
      background-Repeat:"no-repeat";
       background-size:"cover";
       padding-top:"8em";
       mix-blend-mode:"color-burn";
}